@page
@model RecipeBook.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Recipe.Title)</h2>

<div>
    <img class = "recipepic-big" src="~/images/@Model.Recipe.PictureTitle" width="400px" alt="food picture"/>

    <hr />
</div>
<table class= "details">
    <tr>
    <td>
         <p>
             <b>Category:</b>
                @Html.DisplayFor(model => model.Recipe.Category)
        </p>
    </td>
    <td>

    </td>
    </tr>



<tr>
    <td width: 50%>
        <h4>Ingredients:</h4>
        <ul>
                @foreach (string ingredient in Model.Ingredients)
                {
                    <li>
                        @ingredient
                    </li>
                }
        </ul>
    </td>
     <td>
         <h4>Steps:</h4>
        <ol>
                @for (int i = 0; i < Model.Steps.Count; i++)
                {
                     <li>
                    @Model.Steps[i]
                    </li>
                }

        </ol>
        <br />
    </td>
</tr>
</table>


    @if (!string.IsNullOrEmpty(Model.Recipe.Note))
    {
             <hr />
            <h4>Note:</h4>
            <p>@Model.Recipe.Note</p>
    }
            <div>
            <a asp-page="./Edit" asp-route-id="@Model.Recipe?.Id">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@Model.Recipe?.Id">Delete</a> |
            <a href="@Model.PreviousPage">Back to List</a>
        </div>

@*<tr>
    <td width: 50%>
            @if (!string.IsNullOrEmpty(Model.Recipe.Note))
            {
         <hr />
        <h4>Note:</h4>
        <p>@Model.Recipe.Note</p>
            }
    </td>
     <td>
    </td>
</tr>

<tr>
    <td>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Recipe?.Id">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@Model.Recipe?.Id">Delete</a> |
            <a href="@Model.PreviousPage">Back to List</a>
        </div>
    </td>
     <td>
    </td>
</tr>

<tr>
    <td>
        <div>
            <br />
        </div>
    </td>
     <td>
    </td>
</tr>

</table>

*@