@page
@model RecipeBook.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<ul class = "tags">
    @for (int i = 0; i < Model.RecipeCategoryIds.Length; i++)
    {
        <li> 
            <input type = "checkbox" value = "@Model.RecipeCategoryIds[i]" rel = "@Model.RecipeCategoriesForPrinting[i]"> @Model.RecipeCategoriesForPrinting[i]
        </li>
    }
</ul>

<ul class = "results">
   @foreach (var item in Model.DisplayedRecipes) 
   {
        <li class="recipe @item.Category">
            <ul class="recipe-components">
                <li>
                 <a asp-page="./Details" asp-route-id="@item.Id"> <img class = "recipepic-small" src="~/images/@item.PictureTitle" width="280px" alt="food picture"/></a>
                </li>
                <li>
                <a asp-page="./Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title) </a>
                </li>
            </ul>
        </li>
   }
</ul>

<script>
    $(document).ready(
        function () {
            $('ul.tags').find(':checkbox').on('click', function () {

                $('.results > li').hide();

                $('ul.tags').find(':checked').each(
                    function () {
                    $('.results > li.' + $(this).attr('rel')).show();
                });
            });
});

</script>
